.container {
  padding: 10px 50px;
  width: 75%;
  margin: 0 auto;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.item {
  flex: 1 1 30%; /*grow | shrink | basis */
  font-size: 18px;
  font-family: Arial;
  margin: 5px;
  padding-left: 10px;
}

.atualizacao {
  flex: 1 1 100%;
  text-align: left;
  font-size: 12px;
  margin-left: 5px;
  font-family: Arial;
}

.number {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

@media only screen and (max-width: 990px) {
  .container {
    padding: 10px 5px;
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .item {
    flex: 1;
    text-align: center;
  }
  .atualizacao {
    flex: 1;
    margin-top: 40px;
  }
}
